PackagesInstallation
CMakeLists.txt.user
log/
/generated_assets/


/PrebuiltPackages
build

/.codex
/archive
/PackageBuildFromSource
/phase1_release

# Third-party dependencies and binaries
/thirdparty/
